h1 {
    color: blue;
    text-align: center;
}

.main-container {
    display: flex;
}

.left-container, .right-container {
    flex-basis: 45%;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 45%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

#left-counter, #right-counter {
    text-align: center;
}




/* optional Container STYLES */
.chart {
    width: 100%;
    height: auto;
}
.Treant > .node {
    padding: 3px;
    border: 1px solid #484848;
    border-radius: 3px;
}
.Treant > .node img {
    width: 100%;
    height: 100%;
}

.Treant .collapse-switch {
    width: 100% !important;
    height: 100% !important;
    border: none !important;
}
.Treant .node.collapsed {
    background-color: #def82d;
}
.Treant .node.collapsed .collapse-switch {
    background: none;
}

.node-title {
    text-align: center;
    color: blue;
}

.node-name {
    text-align: center;
    margin-bottom: 0;
}