<!--
#Copyright 2020
#Damian Rakus and Wojciech Socha
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:head>
    <link rel="stylesheet" href="../../../../../../../../js/lib/treant-js-master/Treant.css" type="text/css">
    <script type="text/javascript"  src="../../../../../../../../js/lib/treant-js-master/vendor/raphael.js"></script>
    <script type="text/javascript" src="../../../../../../../../js/lib/treant-js-master/Treant.js"></script>
    <script type="text/javascript" src="../../../../../../../../js/test.js"></script>
</wicket:head>
<body>
<div>
    <p>
        Hello world
    </p>
</div>
</body>
</html>

